<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Engine</title>

</head>
<body>
<h1>Hotel Search Engine</h1>
<!-- input tag -->
<form action="/submit" method="post">
    <input id="searchbar" type="text"
        name="search" placeholder="Search anything..">
    <input type="submit" id="go" value="Go">
</form>

<script>
var input = document.getElementById("searchbar");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
      alert(input)
   event.preventDefault();
   document.getElementById("go").click();
  }
});


</script>
</body>
</html>